<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" type="text/css"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="css/loginform.css" rel="stylesheet"/>
<script src="js/fullcalendar/moment.min.js"></script>
<script src="js/fullcalendar/jquery.min.js"></script>
<script src="js/fullcalendar/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/notifyconfig.js"></script>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">


        <!-- Icon -->
        <div class="fadeIn first">
            <h1>University Scheduler</h1>
        </div>
        <form method="get" th:action="@{/schedulerRead}">
            <input class="fadeIn second" id="test" type="submit" value="Show Scheduler">
        </form>

        <!-- Login Form -->
        <form method="POST" th:action="@{/login}">
            <input class="fadeIn second" id="email" name="email" th:placeholder="login" type="text">
            <input class="fadeIn third" id="password" name="password" th:placeholder="password" type="password">
            <div align="center" th:if="${#httpServletRequest.getParameter('error') == 'badCredentialsException'}">
                <p style="font-size: 20px; color: #FF1C19;">Email or Password invalid, please verify</p>
            </div>
            <input class="fadeIn fourth" type="submit" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#" id="forgot-button">Forgot
                Password?</a>
        </div>
    </div>
</div>


<!-- Central Modal Medium Info -->
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="centralModalInfo" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                <p class="heading lead">Forgot password?</p>

            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Please contact with Admin Administator (admin@administrator.com) to recover your password. Thank
                        you.</p>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Info-->
</body>