<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='utf-8'/>
    <link href='css/fullcalendar/fullcalendar.min.css' rel='stylesheet'/>
    <link href='css/fullcalendar/fullcalendar.print.min.css' media='print' rel='stylesheet'/>
    <link href='css/fullcalendar/scheduler.min.css' rel='stylesheet'/>
    <link href="css/calendarstyles.css" rel="stylesheet"/>
    <link href="css/tablestyles.css" rel="stylesheet"/>
    <link href="https://code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/fullcalendar/moment.min.js"></script>
    <script src="js/fullcalendar/jquery.min.js"></script>
    <script src="js/fullcalendar/jquery-ui.min.js"></script>
    <script src='js/fullcalendar/fullcalendar.min.js'></script>
    <script src='js/fullcalendar/scheduler.min.js'></script>
    <script src="js/mycalendar.js"></script>
    <script src="js/alertfunction.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id='wrap' style="width: 100%">

    <div class="drag-events" id='external-events'
         style="width: 13%; float:left;  margin-right: 10px; margin-left: 15px;background-color: rgba(255,255,255, 0.9)"
         th:each="year:${years}">
        <table class="cinereousTable">
            <thead>
            <tr th:each="year:${years}">
                <th th:utext="'Year: ' + ${year.name} + '<br/>'
         + 'Term: ' + ${year.term} + '<br/>'
         + 'Students: ' + ${year.students}">head1
                </th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr id='external-events-listing' th:each="lecture:${lectures_external}">
                <div th:switch="${lecture.workerInSubject.subject.type}">
                    <td class='fc-event' data-color="orange" style="background-color: orange;"
                        th:attr="hours=${lecture.workerInSubject.hours}"
                        th:case="'L'"
                        th:id="'lec_'+ ${lecture.id}"
                        th:utext="${lecture.workerInSubject.subject.name} + '<br/>'
            + ${lecture.workerInSubject.subject.type} + '<br/>'
            + ${lecture.workerInSubject.worker.title} + '<br/>'
            + ${lecture.workerInSubject.worker.name} + '<br/>'
            + ${lecture.workerInSubject.worker.surname} +'<br/>'">cell1_1
                    </td>
                    <td class='fc-event' data-color="blue" style="background-color: blue;"
                        th:attr="hours=${lecture.workerInSubject.hours}" th:case="'C'"
                        th:id="'lec_'+ ${lecture.id}"
                        th:utext="${lecture.workerInSubject.subject.name} + '<br/>'
            + ${lecture.workerInSubject.subject.type} + '<br/>'
            + ${lecture.workerInSubject.worker.title} + '<br/>'
            + ${lecture.workerInSubject.worker.name} + '<br/>'
            + ${lecture.workerInSubject.worker.surname} +'<br/>'">cell1_1
                    </td>
                    <td class='fc-event' data-color="green" style="background-color: green;"
                        th:attr="hours=${lecture.workerInSubject.hours}" th:case="'W'"
                        th:id="'lec_'+ ${lecture.id}"
                        th:utext="${lecture.workerInSubject.subject.name} + '<br/>'
            + ${lecture.workerInSubject.subject.type} + '<br/>'
            + ${lecture.workerInSubject.worker.title} + '<br/>'
            + ${lecture.workerInSubject.worker.name} + '<br/>'
            + ${lecture.workerInSubject.worker.surname} +'<br/>'">cell1_1
                    </td>
                </div>
            </tr>
            </tbody>
            </tr>
        </table>

    </div>

    <div id='calendar'></div>

    <div class="modal fade" id="fullCalModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button"><span aria-hidden="true">×</span> <span
                            class="sr-only">close</span></button>
                    <h4 class="modal-title" id="modalTitle"></h4>
                </div>
                <div class="modal-body" id="modalBody">
                    <div class="btn-group">
                        <div class="btn-group" th:each="building:${buildings}">
                            <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" th:utext="${building.name}" type="button">
                                Sony <span class="caret"></span></button>
                            <div class="dropdown-menu">
                                <li th:each="auditorium:${building.auditoriums}">
                                    <a class="dropdown-item" href="#"
                                       onclick="showAlert(this.getAttribute('data1'), this.getAttribute('id'));"
                                       th:data1="${auditorium.name}"
                                       th:id="'aud_'+${auditorium.id}"
                                       th:utext="${auditorium.name}">Tablet</a>
                                </li>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <label class="col-form-label" for="message-text">Note:</label>
                            <textarea class="form-control" id="message-text"
                                      style="resize: vertical"></textarea>
                        </div>
                    </form>
                    <div class="alert alert-success" id="success-alert">
                        <button class="close" data-dismiss="modal" type="button">x</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" id="saveBtn" type="button">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style='clear:both'></div>
    <div th:each="lectures2:${lectures_event}">
        <script th:inline="javascript">
            $(document).ready(function () {
                /*<![CDATA[*/
                var name = /*[[${lectures2.workerInSubject.subject.name}]]*/ null;
                var type = /*[[${lectures2.workerInSubject.subject.type}]]*/ null;
                var worker_title = /*[[${lectures2.workerInSubject.worker.title}]]*/ null;
                var worker_name = /*[[${lectures2.workerInSubject.worker.name}]]*/ null;
                var worker_surname = /*[[${lectures2.workerInSubject.worker.surname}]]*/ null;
                var auditorium = /*[[${lectures2?.auditorium?.name}]]*/ null;
                var title = name + "<br>"
                    + type + '<br>'
                    + worker_title + '<br>'
                    + worker_name + '<br>'
                    + worker_surname + '<br>';
                if (auditorium) {
                    title += 'Sala: ' + auditorium;
                }

                var lecture_id = "lec_" + /*[[${lectures2.id}]]*/ null;
                var start_date = /*[[${lectures2.startDate}]]*/ null;
                var end_date = /*[[${lectures2. startDate}]]*/ null;
                var group_id = /*[[${lectures2.group.id}]]*/ null;
                var note = /*[[${lectures2.note}]]*/ null;
                var hours = /*[[${lectures2.workerInSubject.hours}]]*/ null;
                var color;
                switch (type) {
                    case "L":
                        color = 'orange';
                        break;
                    case "C":
                        color = 'blue';
                        break;
                    case "W":
                        color = 'green';
                        break;
                }
                renderLectureEvent(title, start_date, end_date, group_id, lecture_id, note, color, hours);
                /*]]>*/
            });
        </script>
    </div>
</div>
</body>
</html>