<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" type="text/css"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="https://code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="notifyconfig.js"></script>
<body>
<h1>Load File</h1>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form action="/uploadExcelFile" enctype="multipart/form-data" method="post">
            <input id="file" multiple="multiple" name="file" type="file"/>
            <p style="text-align: right; margin-top: 20px;">
                <input class="btn btn-lg btn-primary" id="upload-button" type="submit" value="Upload Files"/>
            </p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


<form action="/scheduler" method="GET">
    <input type="submit" value="Display file content"/>

    <br/>
    <br/>

    <table class="table table-striped">
        <tbody>
        <tr th:text="${data}">
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>