body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

#calendar {
    float: right;
    width: 900px;
    margin-top: 15px;
}

#wrap {
    width: 1100px;
    margin: 0 auto;
}

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: center;
    margin-top: 15px;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

.dropdown-menu > li > a:hover {
    background: #A5A5A5 none !important;
}

.fc-agendaWeek-view tr {
    height: 55px;
}

.fc-agendaDay-view tr {
    height: 40px;
}

.fc-time span {
    font-size: 11px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.fc-title {
    text-align: center;
    font-size: 13px;
}

.drag-events {
    position: absolute;
    top: 52px;
    border: none !important;
}

table.cinereousTable {
    border: 6px solid #e7e5db;
    background-color: #e7e5db;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

table.cinereousTable tbody td {
    font-size: 13px;
}

table.cinereousTable thead {
    background: #E7E5DB;
    background: -moz-linear-gradient(top, #edebe4 0%, #e9e7de 66%, #E7E5DB 100%);
    background: -webkit-linear-gradient(top, #edebe4 0%, #e9e7de 66%, #E7E5DB 100%);
    background: linear-gradient(to bottom, #edebe4 0%, #e9e7de 66%, #E7E5DB 100%);
}

table.cinereousTable thead th {
    font-size: 14px;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #000000;
    text-align: left;
    border: 2px solid #e7e5db;
    border-radius: 25px;
}

table.cinereousTable thead th:first-child {
    border-left: none;
}

table.cinereousTable tfoot td {
    font-size: 16px;
}

table.cinereousTable td, table.cinereousTable th {
    border: 8px solid #f4f0dc;
    padding: 2px 2px;
}