<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<div>
    <div th:each="year:${years}">
        <h2 th:text="'Year ' + ${year.name}" style="color: crimson">Year</h2>
        <h3 th:text="'Term: ' + ${year.term}">Term</h3>
        <h3 th:text="'Number of students: ' + ${year.students}">Students</h3>
        <form th:each="subject:${subjects}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th th:text="${subject.name}">Subject Name</th>
                    <th th:text="${subject.type}">Subject Type</th>
                    <th th:text="${subject.numberOfGroups}">Groups</th>
                    <th th:text="${subject.hours}">Hours</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lecture:${lectures}">
                    <td th:text="${lecture.workerInSubject.worker.name}">Name</td>
                    <td th:text="${lecture.workerInSubject.worker.surname}">Surname</td>
                    <td th:text="${lecture.workerInSubject.hours}">Hours</td>
                </tr>
                </tbody>
            </table>
        </form>
        <!--<table class="table table-striped">
            <thead>
            <tr>
                <th>Subject Name</th>
                <th>Subject Type</th>
                <th>Groups</th>
                <th>Hours</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lecture:${lectures}">
                <td th:text="${lecture.workerInSubject.worker.name}">Name</td>
                <td th:text="${lecture.workerInSubject.worker.surname}">Surname</td>
                <td th:text="${lecture.workerInSubject.hours}">Hours</td>
            </tr>
            </tbody>
        </table>-->
    </div>
</div>
</body>
</html>